.vscode/**
.vscode-test/**
.github/**
.gitignore
.editorconfig
.prettierrc.json
cliff.toml
eslint.config.ts
tsconfig.json
vite.config.ts
node_modules/**
package-lock.json
polishc/**
src/**
out/**/*.map
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
